$color1: #fbfad3;
$color2: #c6e377;
$color3: #729d39;
$color4: #36622b;

.carrousel {
  width: 100%;
  height: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}


