$color1: #fbfad3;
$color2: #c6e377;
$color3: #729d39;
$color4: #36622b;
$colorBack: #eaeaea;
$colorCards: #d9d9d9;
$colorHigh: #c9f658;

p::first-letter{
  text-transform: uppercase;
}
.categories {
  margin: 0px;
  padding: 20px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.categories__item {
  display: flex;
  flex-direction: column;
  border: 2px solid $color3;
  border-radius: 5px;
  background-color: $color1;
  padding: 20px;
  margin: 5px;
  min-width: 130px;
  text-align: center;
  justify-content: center;
}

.categories__item:hover {
  place-self: center;
  display: flex;
  flex-direction: column;
  border: 2px solid $color4;
  border-radius: 5px;
  background-color: $colorHigh;
  padding: 20px;
  margin: 5px;
  min-width: 130px;
  text-align: center;
  justify-content: center;
}

a{
  place-self: center;
  color: $color4;
}

a:hover {
  text-decoration: none;
  color: $color4;
}

.categories__item p {
  margin: 0px;
  text-decoration: none;
  font-weight: bold;
}

.categories__item_img {
  width: 30px;
  height: 30px;
  margin: auto;
}
