$color1: #fbfad3;
$color2: #c6e377;
$color3: #729d39;
$color4: #36622b;
$colorBack: #eaeaea;
$colorCards: #d9d9d9;
$colorHigh: #c9f658;


input{
    border: 1px solid $color4 ;
    border-radius: 5px;
    width: 90%;
    padding-left: 10px;
}