$color1: #fbfad3;
$color2: #c6e377;
$color3: #729d39;
$color4: #36622b;

/*body { 
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 0;
}*/

.map__container {
  display: grid;
  grid-template: 10% 1fr / 30% 70%;
  height: 100vh;
  grid-template-areas: 
    'map__items_list map__items_filter'
    'map__items_list map__items_map';
  position: relative;
}

.map__items_list {
  grid-area: map__items_list;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  text-decoration: none;
  border-top: solid 2px $color3;
  border-right: solid 2px $color3;
  display: flex;
  flex-flow: column nowrap;
  scroll-snap-type: y mandatory;
  background-color: $color1;
  scrollbar-width: none; 
}

.map__items_list :hover{
  text-decoration: none;
}

.map__items_filter {
  grid-area: map__items_filter;
  display: grid;
}

.map__items_map {
  grid-area: map__items_map;
  overflow: hidden;
}
