@import url('https://fonts.googleapis.com/css?family=Nunito|Oleo+Script&display=swap');

$otherFont: 'Nunito', sans-serif;
$color1: #fbfad3;
$color2: #c6e377;
$color3: #729d39;
$color4: #36622b;

body {
  margin: 0;
  > * {
    box-sizing: border-box;
  }
  background-color: $color2;
  color: $color4;
  font-family: $otherFont;
}

.App {
  max-width: 100%;
  overflow-x: hidden;
  display: block;
}

.recycle_title {
  text-align: center;
  margin-top: 20px;
  border: 5px solid $color4;
  padding: 10px;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 5px;
}
